body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    margin: 0 auto;
    background-color: #c0ac97 ;
}

#imagenarriba{
    size: 80%;
    margin-left: 10px;
    margin-right: 10px;
}

header img{
    width: 100%;
}

nav{
    width: 20%;
    float: left;
}

#contenido{
    width: 80%;
    float: right;
    text-align: center;
    padding-bottom: 24px;
}

footer{
    background-color: black ;
    color: #c0ac97;
    text-align: center;
    font-size: 15px;
    padding: 6px;
}

.cb{
    clear: both;
}

nav li{
    list-style-type: none;
    font-size: 22px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color:  #613608;
    border: solid 1px  #613608;
    border-radius: 10px;
}

nav li:hover {
    background-color:  #613608;
    color: #B99D7F ;
}

a{
    text-decoration: none;
    color:  #613608;
}
#home{
    text-align: center;
}

#carrusel{
    width: 80%;
}

#parrafo{
    background-color: #DDBEBE;
    margin-right: 60px;
    margin-left: 30px;
    text-align: left;
    padding: 24px; 
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    color: #6c4a4a;
}

#parrafouno{
    float: left;
    width: 70%;
}
#parrafodos{
    float: right;
    width: 70%;
}
#parrafotres{
    float: left;
    width: 70%;
}

#parrafotres{
    float: right;
    width: 70%;
}

#primeraportada{
   float: right;
   width: 30%;
   margin-top: 2%;
}

#portada1990{
    margin-top: 2%;
    float: left;
    width: 30%;
 }

 #frase{
     font-size: 30px;
     text-align: right;
     color: #d54583;
 }

#enlaces{
    background-color: #ffffff9f;
    margin-right: 60px;
    margin-left: 30px;
    text-align: left;
    padding: 20px;
    text-decoration: none;
}

.btn-flotante{
    margin-left: 0%;
}

#tablas{
    margin-right: 60px;
    margin-left: 30px;
    text-align: left;
    padding: 20px;
}

.text-derecha{
    text-align: right;
}

#tablauno table{
    width: 60%;
    margin: 0 auto;
    font-size: 22px;
}

#tablauno th{
    background-color: #FAEBE0;
    color: #FE019A;
}

#tablauno tr{
    background-color: #C9E4C5;
    color: #196C05;
}

#textotablauno{
    text-align: left;
}

#tablados table{
    width: 60%;
    margin: 0 auto;
    font-size: 22px;
}

#tablados th{
    background-color: #FAEBE0;
    color: #FE019A;
}

#tablados tr{
    background-color: #C9E4C5;
    color: #196C05;
}

#textotablados{
    text-align: left;
}

#tablatres table{
    width: 60%;
    margin: 0 auto;
    font-size: 22px;
}

#par{
    background-color: #FAEBE0;
    color: #FE019A;
}

#impar{
    background-color: #C9E4C5;
    color: #196C05;
}

#textotablatres{
    text-align: left;
}

#tablahorario table{
    width: 90%;
    margin: 0 auto;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

#exterior{
    background-color: #f0f0f0;
    color: #008080;
}

#s1dam{
    font-size: 26px;
    background-color: #f0f0f0;
    color: #008080;
}

#LMSG{
    background-color: #00b95c;
}

#INGLES{
    background-color: #80ff80;
}

#FOL{
    background-color: #f0f0c8;
}

#SISI{
    background-color: #ff8001;
}

#ENDE{
    background-color: #8080bf;
}

#BASE{
    background-color: #63aa96;
}

#PROG{
    background-color: #80ffff;
}

#listas{
    background-color: #613608a4;
    color: #FAEBE0;
    margin-right: 60px;
    margin-left: 30px;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    border-radius: 5%;
    border-style: solid;
    border-color: #FAEBE0;
}

#listas1{
    font-size: 20px;
}

#listas2{
    font-size: 18px;
}

#listas2{
    font-size: 16px;
}

#customo li{
    list-style-type: decimal;
}

#customo li li{
    list-style-type: lower-alpha;
}

#customo li li li{
    list-style-type: lower-roman;
}

#customd li{
    list-style-type: square;
}

#customd li li{
    list-style-image: url(../IMG/vdevogue.png);
}

#customd li li li{
    list-style-type: circle;
    list-style-image: none;
}

#formularios{
    background-image: url(../IMG/glitter.jpg);
    margin-right: 60px;
    margin-left: 30px;
    text-align: left;
    padding: 20px;
    text-decoration: none;
}

#formulariobasico{
    width: 50%;
}

#formulariovariado{
    width: 70%;
}

#multimedia{
    background-image: url(../IMG/brilloblanco.jpg);
    margin-right: 60px;
    margin-left: 30px;
    text-align: left;
    padding: 20px;
    text-decoration: none;
}

#video{
    text-align: center;
}

#formhtml{
    background-color: white;
    margin-right: 60px;
    margin-left: 30px;
    text-align: left;
    padding: 24px; 
}